@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-grey-600: #3d6666;
  --color-grey-550: #547878;
  --color-grey-500: #5e7a7d;
  --color-grey-400: #7f9d9f;
  --color-grey-300: #9EBBBD;
  --color-grey-200: #C5E4E7;
  --color-grey-50: #F3F9FA;
  --color-green-900: #00474B;
  --color-green-800: #085C61;
  --color-green-750: #0D686D;
  --color-green-400: #31E6D1;
  --color-green-200: #26C2AE;
  --color-orange-400: #E17052;


  --letter-spacing-small: -1px;
  --letter-spacing-medium: -0.67px;
  --letter-spacing-normal: 0px;
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey-600: var(--color-grey-600);
  --color-grey-550: var(--color-grey-550);
  --color-grey-500: var(--color-grey-500);
  --color-grey-400: var(--color-grey-400);
  --color-grey-300: var(--color-grey-300);
  --color-grey-200: var(--color-grey-200);
  --color-grey-50: var(--color-grey-50);
  --color-green-900: var(--color-green-900);
  --color-green-800: var(--color-green-800);
  --color-green-750: var(--color-green-750);
  --color-green-400: var(--color-green-400);
  --color-green-200: var(--color-green-200);
  --color-orange-400: var(--color-orange-400);

  --font-space-mono: var(--font-space-mono);

  

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);

}

/* Font Presets */


@utility font-preset-1{
  font-family: var(--font-space-mono);
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: var(--letter-spacing-small);
}

@utility font-preset-2{
  font-family: var(--font-space-mono);
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  letter-spacing: var(--letter-spacing-medium);
}

@utility font-preset-3{
  font-family: var(--font-space-mono);
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: var(--letter-spacing-normal);
}
@utility font-preset-4{
  font-family: var(--font-space-mono);
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: var(--letter-spacing-normal);
}
@utility font-preset-5{
  font-family: var(--font-space-mono);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing-normal);
}
@utility font-preset-6{
  font-family: var(--font-space-mono);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: var(--letter-spacing-normal);
}
