@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-purple-600: hsl(246, 80%, 60%);

  --color-work: hsl(15, 100%, 70%);
  --color-play: hsl(195, 74%, 62%);
  --color-study: hsl(348, 100%, 68%);
  --color-exercise: hsl(145, 58%, 55%);
  --color-social: hsl(264, 64%, 52%);
  --color-self-care: hsl(43, 84%, 65%);

  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple-500: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


